{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Formulário Novo Contato
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

{% endblock %}